*{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

body::selection{
    background-color: #000000;
    color:white;
}

:not(.footer){
    max-width: 1920px;
}

.branded-img {
    height:100px;
    width:100px;
}

@font-face {
    font-family: "RoadGeek 2014 B";
    src: url("fonts/RG2014B.ttf");
}

@font-face {
    font-family: "RoadGeek 2014 C";
    src: url("fonts/RG2014C.ttf");
}

@font-face {
    font-family: "RoadGeek 2014 D";
    src: url("fonts/RG2014D.ttf");
}

@font-face {
    font-family: "RoadGeek 2014 E";
    src: url("fonts/RG2014E.ttf");
}

h1, th {
    font-family: "RoadGeek 2014 E";
}

h2, h3, td {
    font-family: "RoadGeek 2014 D";
}

h4, td.small {
    font-family: "RoadGeek 2014 C";
}

h5, h6 {
    font-family: "RoadGeek 2014 B";
}

nav {
    background-color: #232327;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color:#003583;
}

#list-redirects {
    margin-top: 150px;
}

a {
    color: inherit;
}

i {
    font-family: "RoadGeek 2014 B";
    font-size: x-large;
}

table{
    max-width: 1840px !important;
    width: 100%;
    margin-bottom: 130px;
}

td, th{
    border: 3px solid black;
    font-size: 150%;
    padding-left: 10px;
}

th{
    background-color: #a8a8a8;
}

.footer{
    max-width: 2000px !important;
    position:fixed;
    bottom: 0;
    width:2000px; 
    background-image: linear-gradient(to bottom, #00000000 0%, #000000 90%);
    height: 100px;
}